<div class="main world-show">

  <div class="container">

    <% @worlds.each do |world| %>
    <!-- Display an world's info here -->
    <div class="world">
      <%= image_tag world.image %>
      <!-- world image -->
      <div class="info">
        <h3 class="world-name"><%= world.name %> </h3>
      </div>
      </div>

   
  </div>
</div>

<% end %>