 <div class="container">
            <h1 class="title">All Worlds</h1>
        </div>

<div class="columns">
<div class="column">
    <div>
    <strong><%= link_to "Create a New World", new_world_path %></strong>
    </div>
    
</div>