 <div class="container">
            <h1 class="title">All Worlds</h1>
        </div>

<div class="columns">
<div class="column">
    <div>
    <strong><%= link_to "Create a New World", new_world_path %></strong>
    </div>
    <br>
    <div>
    <h3>Want to view them alphabetized?</h3>
    <%= link_to "Click here", abc_world_path %> to view the worlds alphabetically.
    </div>
</div>