<h1><%= @user.email %></h1>

<% unless @worlds.empty? %>
    <h3>Worlds created by <%= @user.email %>:</h3>
    <%= render partial: "list", locals: {worlds: @worlds} %>
<% else %>
    <h3>Want to create a new world?</h3>
<% end %>
