<h2>Edit <%= @character.name %> </h2>

<%= render "application/errors" %>

<%= render partial: "form", locals: {form_character: @character} %>

<br>

<%= form_tag(character_path(@character), method: "delete") do %>
    <input type="submit" value="Delete" class="button is-danger">
<% end %>