<h1>Characters</h1>

<div class="columns">
<div class="column">
    <div>
    <strong><%= link_to "Create a New character", new_character_path %></strong>
    </div>
</div>

<div class="column">
    <div>
    <%= render partial: "list", locals: {characters: @characters} %>
    </div>
</div>
</div>